@model SamplePB.Models.EmailsViewModel

@{
    ViewBag.Title = "EditEmail";
}

<h2>EditEmail</h2>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(m=>m.EmailId)
        <table class=" table table-bordered">
            <tr><td>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Emails, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Emails)
                            @Html.ValidationMessageFor(model => model.Emails)
                        </div>
                    </div>

            </tr>
        </table>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>

}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}