@using SamplePB.Models
@model SamplePB.Models.PersonViewModel

@{
    ViewBag.Title = "ShowContactDetails";
}

<h2>Contact Details</h2>

<div>
    <h5>@Html.ActionLink("Back to List","ShowAllContacts")</h5>
    <a href="@Url.Action("InsertPersonContactNumber", "Contacts", new { id = Model.PersonId })"><img src="../../images/AddContactNumber.png" height="35" width="125" /></a><br/>
    <a href="@Url.Action("InsertPersonEmail", "Contacts", new { id = Model.PersonId })"><img src="../../images/AddEmail.png" height="35" width="125" /></a>
    <hr />@using (Html.BeginForm())
          {
              @Html.AntiForgeryToken()
              @Html.HiddenFor(m => m.PersonId)
              <dl class="dl-horizontal">

       
                  <dt>
                      @Html.DisplayNameFor(model => model.FirstName)
                  </dt>

                  <dd>
                      @Html.DisplayFor(model => model.FirstName)
                  </dd>

                  <dt>
                      @Html.DisplayNameFor(model => model.LastName)
                  </dt>

                  <dd>
                      @Html.DisplayFor(model => model.LastName)
                  </dd>

                  <dt>
                      @Html.DisplayNameFor(model => model.MiddleName)
                  </dt>

                  <dd>
                      @Html.DisplayFor(model => model.MiddleName)
                  </dd>

                  <dt>
                      @Html.DisplayNameFor(model => model.BirthDate)
                  </dt>

                  <dd>
                      @Html.DisplayFor(model => model.BirthDate)
                  </dd>

                  <dt>
                      @Html.DisplayNameFor(model => model.HomeAddress)
                  </dt>

                  <dd>
                      @Html.DisplayFor(model => model.HomeAddress)
                  </dd>

                  <dt>
                      @Html.DisplayNameFor(model => model.Company)
                  </dt>

                  <dd>
                      @Html.DisplayFor(model => model.Company)
                  </dd>

              </dl>
            
          }
    <br/>
    
    <th width="20%">@Html.ActionLink("Edit", "EditContact", new { id = Model.PersonId })</th>
    
    <br />
    <table class="table table-condensed">
        <tr>
            <th>
                Contact Type
            </th>
            <th>
                Contact Number
            </th>
        </tr>
        @foreach (var row in Model.ContactNumbersViewModels)
        {
            <tr>
                
                <td>
                    @Html.DisplayFor(m => row.SelectedContactType)
                </td>

                <td>
                    @Html.DisplayFor(m => row.ContactNumber)
                </td>
                <td width ="10%">
                    @Html.ActionLink("Edit", "EditContactNumber", new { id = row.ContactId})
                </td>
                <td>
                    @Html.ActionLink("Delete", "DeleteContactNumber", new { id = row.ContactId })
                </td>
            </tr>
        }

    </table>
    <table class="table table-condensed">
        <tr>
            <th>
                Email Address
            </th>
        </tr>
        @foreach (var row in Model.EmailsViewModels)
        {               
            <tr>
                <td>
                    @Html.DisplayFor(m => row.Emails)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditEmail", new { id = row.EmailId})
                </td>
                <td>
                    @Html.ActionLink("Delete", "DeleteEmail", new { id = row.EmailId })
                </td>
            </tr>
        }

    </table>
</div>
<div style="padding: 10px; border: 1px solid black">
    <div><a href="@Url.Action("ReportPersonDetail", new { format = "PDF", id = Model.PersonId  })">Export to PDF</a></div>
    <div><a href="@Url.Action("ReportPersonDetail", new { format = "Excel", id = Model.PersonId })">Export to Excel</a></div>
    <div><a href="@Url.Action("ReportPersonDetail", new { format = "Word", id = Model.PersonId })">Export to Word</a></div>
    <div><a href="@Url.Action("ReportPersonDetail", new { format = "Image", id = Model.PersonId })">Export to Image</a></div>
</div>




